---
---

$themeColor: #ff0a16;	/* Color used in links, icons and some custom elements. */
$primaryDark: #141414;	/* Color used in dark backgrounds and some texts. */
$accentDark: #ffffff;	/* Color used in light backgrounds and as contrast to dark backgrounds. */
$lightGray: #f2f2f2;	/* Color used in borders, contrast to light backgrounds, some links and subtitles. */
$texts: #333333;		/* Color used in texts overall. */

@import "jekflix";

